<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<!-- Seguridad 
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>securing</web-resource-name>
			<url-pattern>/index.html</url-pattern>
			<url-pattern>/index.*/*</url-pattern>
			<url-pattern>/ajax/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	-->
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	
	<!-- Servlest -->
	
<servlet>
		<servlet-name>Userserver</servlet-name>
		<servlet-class>com.crearesoft.iimoney.mngrequest.server.server.Userserver</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Userserver</servlet-name>
		<url-pattern>/solicitud</url-pattern>
	</servlet-mapping>


</web-app>
