input[type="number"] {
	width: 100%;
}

.clear {
	clear: both;
}

.display-inline {
	display: inline;
	margin-left: 5px;
}

.center {
	margin: 0 auto;
	float: none;
}

body .searchForm .well {
	padding-right: 15px;
	padding-left: 15px;
	border: 0;
	padding-bottom: 0;
}

body .searchForm .well+form fieldset {
	padding-top: 18px;
}

body .searchForm .well+form fieldset.fieldsetCustom:first-child {
	padding-top: 18px
}

body .searchForm .well+form fieldset.fieldsetCustom {
	padding-top: 0
}

body .searchForm form fieldset {
	border: 0;
}

.input-group {
	z-index: 1;
}

body div.smart-form footer {
	border: 0;
}

#childrens tr td span, #students tr td span, #routes tr td span {
	position: relative;
	top: -4px;
}

.div-input {
	margin-bottom: 15px;
	height: 57px;
}

body .smart-form .state-error+em {
	position: absolute;
	bottom: -16px;
}

body .tab-content>.tab-pane {
	display: block;
	height: 0;
	width: 0;
	overflow: hidden;
}

body .tab-content>.active {
	height: auto;
	width: auto;
}

.padding-top0 {
	padding-top: 0 !important;
}

body .padding-right0, body .smart-form .padding-right0 {
	padding-right: 0;
}

.border0 {
	border: 0 !important;
}

body .padding0 {
	padding: 0;
}

body .padding-left0, body .smart-form .padding-left0 {
	padding-left: 0;
}

body .padding-x0 {
	padding-left: 0;
	padding-right: 0;
}

body .margin-bottom20 {
	margin-bottom: 20px;
}

body .text-align-right {
	text-align: right;
}

body .content-section {
	padding-top: 10px;
}

.padding6-14 {
	padding: 6px 14px;
}

.padding-left20 {
	padding-left: 20px;
}

body .padding-top9 {
	padding-top: 9px;
}

.btn-custom {
	height: 31px;
	margin: 0;
	padding: 0 22px;
	font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.content-full {
	width: 100%;
}

.tab-pane .section-tab {
	border-bottom: 1px solid #c0c0c0;
}

.tab-pane .section-tab:last-child {
	border: 0;
}

body .buttons_save {
	display: none;
}

body .saveAll .buttons_save {
	display: block;
}

body .saveAll .buttons_next {
	display: none;
}

.container-bottomsChange {
	
}

.container-bottomsChange .btn-bottom {
	margin-top: 18px;
}

.inputNotLabel {
	margin-top: 18px;
}

.input-date .col {
	padding-left: 0;
}

@media ( min-width : 972px) {
	.container-photo {
		margin-left: -18px;
	}
}

@media ( max-width : 972px) {
	body .padding-left0-sm, body .smart-form .padding-left0-sm {
		padding-left: 0;
	}
	body .content-full-sm {
		width: 100%;
	}
	.input-date {
		margin-bottom: 18px;
	}
	.input-date .col {
		padding-left: 0;
		padding-right: 0;
		clear: both;
		margin-bottom: 0;
	}
	.input-date .col label {
		float: none;
	}
	body .date.smpadding0 {
		padding: 0;
	}
	body .date .col {
		padding: 0;
	}
	.container-photo, .container-photo-label {
		padding: 0 28px;
	}
}

body .btn-primary {
	position: relative;
}

body .pace-activity-button {
	position: absolute !important;
	right: -23px;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	position: relative;
	z-index: 2000;
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}