<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reclamar</title>
</head>
<body>
	<header>
		<h2>
			<b><i>Reclamar</i></b>
		</h2>
	</header>
	<fieldset class="col col-sm-12">
		<table
			class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
			<thead>
				<tr>
					<th><label class="checkbox"> <input
							name="checkbox-inline" type="checkbox"></label></th>
					<th>Tipo de solicitud <a href="javascript:void(0);"
						class="btn btn-xs btn-default pull-right"><i
							class="fa fa-filter"></i></a>
					</th>
					<th>Cliente<a href="javascript:void(0);"
						class="btn btn-xs btn-default pull-right"><i
							class="fa fa-filter"></i></a></th>
					<th>Numero <a 
						class="btn btn-xs btn-default pull-right"><i
							class="fa fa-filter"></i></a></th>
					<th>Estado <a href="javascript:void(0);"
						class="btn btn-xs btn-default pull-right"><i
							class="fa fa-filter"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label class="checkbox"> <input
							name="checkbox-inline" type="checkbox"> <i></i>
					</label></td>
					<td>Activar usuario</td>
					<td>Carlos Mauricio E. Id:6382404</td>
					<td><a onclick="user();">9876</a></td>
					<td>Registrada</td>
				</tr>
				<tr>
					<td><label class="checkbox"> <input
							name="checkbox-inline" type="checkbox"> <i></i>
					</label></td>
					<td>Segunda clave</td>
					<td>Jenny Marcerla Criollo id:1015407252</td>
					<td><a onclick="clave();">1234</a></td>
					<td>Procesada</td>
				</tr>
			</tbody>

		</table>
		<footer>
			<button class="btn btn-primary  btn-xl" id="reclamar">Reclamar</button>
		</footer>
	</fieldset>
	<script src="js/pages/reclamo.js" >
</script>
</body>
</html>